<!Doctype html> 

<script>    </script> 
<style>
	font-size: 60px;
	font-family: Inverted Square;
	background-image:url (....);
	padding size: 40px;
	border: 60px;
</style>

<header>
<body>
<h> Sewage system (COVID 19) </h>
<hr><br>
<p> The grapping problem aboutsewage is that it is disgusting and smelly please wear a mask
In order for this too operate it had to been blocked or destoryed for others to use it freely. My idea would have been to avoid and close off the street so that no body uses it. But it got used instead. </p>
 <li> Close the road. </li>
 <li> Dont open it until it is good. </li>
 <li> Cleaners should be check.  </li>
 <li> Get Maid to help you. </li>
<h> Village Square </h>
<img src = "   "/>
<hr><br>
<p> As I was walking to the mall it had a bunch of problem but it needed to be solved like sewage system that was not working well. </p> 
<cite> A word of advice dont walk on by the spill or pass it </cite>
<h2> Suburb  </h2>
<img src = "   "/>
<hr><br>
<p> The hill was spilling with with strange stuff that smelled interesting, its was just wrong seeing this so I had to see it but looking at the house by the graveyard. Looked wrong so I went up the hills. Nothing so far was going to reported that changed the look of how we look.</p><br>
<li> Wear masks </li>
<li> fix the problem </li>
<h2> Invention of the pot holes </h2> 
<h2> Science gone wrong </h2>
<img src = "   "/>
<hr><br>
<p2> Heavy rain droped in order for the smell to clear out and test if the grass is health and will be used to seperate the water for later on such as aqua water. The rain will not be used for a while in order to make sure that it clears. Health crops will analyse and selected in order to create more healthy. The water system will then be use to correct what happen.</p> 
<li> Healthier crop </li>
<li> Molhakeng </li>
<li> Lesotho rain fountain are ready for use </li>
<li> Trucks and that carry heavy stuff </li>
<br>
<p> The water tank should be checked and chloride and clean out so that it changed the clarity water better day. The worst thing is the old poeple not knowing the best thing is that there is scientist to change. <p2> 
<img src = "   "/>
<cite> Copyright 2022 </cite>
</body>
</header>



</html>
